.wrapper {
  background-color: #03045e;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-direction: row; this is a default*/
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  background-color: #fffaf0;
  height: 50%;
  width: 50%;
  border-radius: 15px;
  /* justify-content: space-evenly; */
}
.header {
  color: red;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  maigin: 0;
}
.text-2xl {
  /* color: green; */
  border: 2px solid red;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
}

form {
  color: blue;
  display: flex;
  gap: 35px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.gap {
  margin: 12.5px;
}
/* .i1 {
  display: flex;
  justify-content: row;
  color: red;
} */
